@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@300;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-color: #1E1E1E;
  font-family: 'Hanken Grotesk', sans-serif;
  color: #fff;
  height: 100vh;

}

/* Navbar */

.nav {
  background-color: #181A20;
  padding: 20px 10%;
  text-align: right;
  font-size: 20px;
  
}

.nav-item {
  color: #7BE7FF;
  text-decoration: none;
  padding-right: 30px;
}

.nav-item:hover {
  color: white;
}
