@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400&family=Rubik+Vinyl&family=Secular+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-color: #1E1E1E;
  font-family: 'Nunito Sans', sans-serif;
  color: #fff;
  height: auto;

}

/* Navbar */
.nav {
  display: flex;
  justify-content: space-around;
  background-color: #181A20;
  font-size: 18px;
  height: 75px;
  align-items: center;
}

.logo {
  font-family: 'Rubik Vinyl', cursive;
  font-size: 33px;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  width: 60%;
}


.about,
.projects,
.skills,
.resume,
.contact {
  color: white;
  text-decoration: none;
  padding:  10px 10px;
  margin: 0 10px;
  cursor: pointer;
}

.nav-links a:hover {
  color: #7BE7FF;
}

.mobile-menu {
  display: none;
}

@media screen and (max-width: 880px) {
  /* .logo {
    display: flex;
    position: absolute;
    top: 15px;
    left: 35px;
  } */

  .nav-links {
    display: none;
  }

  .nav-links-mobile {
    display: block;
    position: absolute;
    list-style: none;
    left: 0;
    top: 75px;
    width: 100%;
    transition: all 0.5 ease-out;
    background-color: #181A20;
    color: #fff;
    height: 100vh;
    
  }

.about,
.projects,
.skills,
.resume,
.contact {
  color: #7BE7FF;
  text-align: center;
  padding:  32px;
  width: 100%;
  transition: all 0.5 ease-out;
 
}

.mobile-menu {
  display: block;
  position: absolute;
  top: 25px;
  right: 15px;
  font-size: 27px;
  color: white;
  background-color: #181A20;
  border: none;
}
}

/* Section */
.section {
  padding: 5% 10%;
}

/* Line */
.line-1 {
  width: 50%;
  margin: 100px auto 40px;
  border: 1px solid #C0DE08;
}
.line-2 {
  width: 30%;
  margin: 0 auto 50px;
  border: 1px solid #C0DE08;
}

/* Jumbotron */
.jumbotron {
  display: flex;
  justify-content: space-around;
  padding-top: 30px;
}

.img-profile{
  display: flex;
  width: 30%;
  justify-content: flex-end;
} 

.img-profile img {
  width: 300px;
  border-radius: 50%;
  border: 3px solid #C0DE08;
}


.jumbotron .my-name {
 width: 40%;
 padding: 70px 0;
 
}

.my-name h2{
  font-size: 30px;
  color: #C0DE08;
}

.my-name h1 {
  font-size: 40px;
  line-height: 50px;
}

.title {
  font-size: 28px;
  color: #C0DE08;
}

@media screen and (max-width: 1028px) {
  
  .img-profile img {
    margin: auto;
    width: 250px;
    height: 250px;
  }

  .jumbotron .my-name {
    width: 50%;
   }
}

@media screen and (max-width: 855px) {
  .jumbotron {
    display: block;
    text-align: center;
  }

  .img-profile{
    display: block;
    width: 100%;
  }

  .img-profile img {
    margin: auto;
    width: 230px;
    height: 230px;
  }

  .jumbotron .my-name {
    width: 100%;
    padding: 40px 0;
   }

   .my-name h2{
    font-size: 27px;
  }
  
  .my-name h1 {
    font-size: 31px;
    
  }

  /* Line */
  .line-1 {
    margin: 30px auto 20px;
  }
  .line-2 {
    margin: 0 auto 40px;
  }
}

@media screen and (max-width: 855px) {
  .img-profile img {
    width: 200px;
    height: 200px;
  }

  .my-name h2{
    font-size: 22px;
  }
  
  .my-name h1 {
    font-size: 25px;
    line-height: 35px;
  }
}